.listBlocks{
    margin: 0 auto;
    min-height: 220px;
    min-width: 90%;
    text-align: center;
    transform: rotateX(180deg);
}

.listBlocks > .block{
    background-color: #2499FF;
    color: black;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 2px;
    text-align: center;
    transition-duration: 150ms;
    transition-property: height;
    transition-timing-function: ease-in;
    transform: rotateX(180deg);
}